<div class="date-container">
    <span class="date">{{ today | date:'medium'}}</span>
    <img class="clock" src="assets\images\clock.png">
</div>
<div style="display: block;">
    <img src="http://www.alamaltaqa.com/assets/images/logo.png" class="rounded float-right alam-altaQa">

    <div class="owners">
        <ul class="listStyle">
            <li class="li-left">
                <h5>رئيس مجلس الإدارة</h5>
                <h6>شيماء شكرى </h6>
            </li>
            <li class="li-right">
                <h5>رئيس التحرير</h5>
                <h6>سارة أيمن</h6>
            </li>
        </ul>
    </div>
    <img src="assets\images\company-logo.png" class="rounded float-right company-logo">
</div>
<br>
<hr style="margin-top: 100px;">

<!-- As a heading -->
<nav class="navbar navbar-light header">
    <div class="nav-bar" >
    <ul>
        <li><a class="active" href="#home">الصفحة الرئيسية</a> <img src="assets\images\home.png" class="home-logo"> </li>
        <li><a href="#news">مقالات</a></li>
        <li><a href="#contact">أخبار البترول</a></li>
        <li><a href="#about">كهرباء</a></li>
        <li><a href="#about">حوارات</a></li>
        <li><a href="#about">طاقة متجددة</a></li>
        <li><a href="#about">TV طاقة</a></li>
        <li><a href="#about">تعدين و بتروكيماويات</a></li> 
        <li><a href="#about">طاقة سبورت</a></li> 
        <li><a href="#about">المزيد ؟</a></li> 
    </ul>
</div>
  </nav>
